<a href="https://colab.research.google.com/github/MaxHenk/2022_ML_EES/blob/main/ML_PROJECT_MH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projet pour le cours de Machine Learning for Earth & Environmental Sciences.

In [43]:
%pip install geopandas
%pip install pickle5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.8/dist-packages (0.12.2)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.8/dist-packages (from geopandas) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (21.3)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->geopandas) (3.0.9)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 7.5 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp38-cp38-linux_x86_64.whl size=236296 sha256=bdf6d150cea5e97e5a720ef87cac844ace14690ce88ce5c978ce003e020d99bd
  Stored in directory: /root/.cache/pip/wheels/25/d4/61/dbd8edd1a0d656be7b4267c85db3b61951eb60016a0154a122
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [44]:
#Import Libraries
import geopandas as gpd
import numpy as np
import pickle5 as pickle
import pooch

In [50]:
gpd.GeoDataFrame?

In [52]:
#Data Loading
csv_path = 'https://unils-my.sharepoint.com/:x:/g/personal/max_henking_unil_ch/EbMKCXxTdWtKssB-sO2mOdsBksI1ABwkzsB1wagyhu8kLg?download=1'
hash='d73cc258641ea0d5b9da1bfc9ac19d947fe6e57052ef10f30fae7913730ce52b'
csv_file = pooch.retrieve(csv_path, known_hash=hash)

d1 = pd.read_csv(csv_file, index_col=0)
df = gpd.GeoDataFrame(d1, geometry=gpd.points_from_xy(d1.Geoposition_Y,d1.Geoposition_X))

In [53]:
df

,Betriebstag,Fahrt Bezeichner,Linie,Linien Text,Verkehrsmittel Text,fallt_aus,BPUIC,Haltestellen Name,Ankunftszeit,Ankunftsuhr,...,Geoposition_Y,Transportunternehmung (Nummer),PLZ,temp_stn,sun_stn,rain_stn,tre200h0,sre000h0,rre150h0,geometry
19,01.12.22,85:11:100:001,100,ICE,ICE,False,8500090,Basel Bad Bf,2022/12/01 19:19:00,19.0,...,7.606920,612.0,4058.0,BSKBS,BAS,BAS,14.2,0,0.0,POINT (7.60692 47.56731)
29,01.12.22,85:11:1056:001,1056,IC61,IC,True,8507493,Interlaken West,2022/12/01 05:34:00,5.0,...,7.851453,33.0,3800.0,INT,INT,INT,11.5,0,0.0,POINT (7.85145 46.68263)
54,01.12.22,85:11:1056:001,1056,IC61,IC,True,8507100,Thun,2022/12/01 06:03:00,6.0,...,7.629606,11.0,3600.0,THU,THU,THU,10.4,0,0.1,POINT (7.62961 46.75485)
78,01.12.22,85:11:1056:001,1056,IC61,IC,True,8507000,Bern,2022/12/01 06:24:00,6.0,...,7.439131,11.0,3011.0,NABBER,BER,NABBER,13.0,0,1.2,POINT (7.43913 46.94883)
103,01.12.22,85:11:1056:001,1056,IC61,IC,True,8500010,Basel SBB,2022/12/01 07:32:00,7.0,...,7.589563,11.0,4051.0,BAS,BAS,BAS,13.9,0,0.1,POINT (7.58956 47.54741)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399819,01.12.22,85:11:8677:001,8677,S26,S,False,8502112,Sch√∂nenwerd SO,2022/12/01 19:46:00,19.0,...,8.000158,11.0,5012.0,GOE,GOE,GOE,13.4,0,0.0,POINT (8.00016 47.37142)
1399844,01.12.22,85:11:8678:001,8678,S26,S,False,8502215,Muri AG,2022/12/01 20:06:00,20.0,...,8.339821,11.0,5630.0,MOA,MOA,MUR,11.6,0,0.0,POINT (8.33982 47.27667)
1399868,01.12.22,85:11:8680:001,8680,S26,S,False,8502218,Sins,2022/12/01 20:29:00,20.0,...,8.397831,11.0,5643.0,CHZ,CHZ,AGSIN,12.6,0,0.0,POINT (8.39783 47.18831)
1399892,01.12.22,85:11:8680:001,8680,S26,S,False,8502211,Hendschiken,2022/12/01 20:52:00,20.0,...,8.207389,11.0,5604.0,WSLOTF,BUS,WSLOTF,11.9,0,0.0,POINT (8.20739 47.38943)
1399917,01.12.22,85:11:8680:001,8680,S26,S,False,8502110,Dulliken,2022/12/01 21:16:00,21.0,...,7.946501,11.0,4657.0,GOE,GOE,GOE,12.1,0,0.0,POINT (7.94650 47.35428)

In [ ]:
d1[['Ankunftszeit', 'Ankunftsuhr', 'Abfahrtszeit', 'departure forecast','ankunftsverspatung', 'departure delay']]

In [ ]:
d1.ankunftsverspatung

In [15]:
d1.ankunftsverspatung = d1.ankunftsverspatung.replace({True: 1, False: 0})
d1['departure delay'] = d1['departure delay'].replace({True: 1, False: 0})
d1.tre200h0 = d1.tre200h0.replace('-', None)
d1.sre000h0 = d1.sre000h0.replace('-', None)
d1.rre150h0 = d1.rre150h0.replace('-', None)

In [17]:
d1.rre150h0.unique()

array(['0.0', '0.1', '1.2', '1.8', '0.5', '0.8', '1.3', '0.4', '0.3',
       '0.2', '0.6', '1.4', '0.9', '1.6', '0.7', '1.1', '1.0', '1.5',
       '1.9', '2.0', '1.7', '2.2', '2.6', '2.8', '2.4'], dtype=object)

I will do a classification once for the arrival times and once for the departure times, to see if the environmental variables are better at explaining delays in departures or arrivals.

In [18]:
#Arrival part
X = d1[['tre200h0', 'sre000h0', 'rre150h0','Ankunftsuhr']]
y = d1[['ankunftsverspatung']]

In [35]:
print(X.describe)

<bound method NDFrame.describe of         tre200h0  sre000h0 rre150h0  Ankunftsuhr
19          14.2         0      0.0         19.0
29          11.5         0      0.0          5.0
54          10.4         0      0.1          6.0
78          13.0         0      1.2          6.0
103         13.9         0      0.1          7.0
...          ...       ...      ...          ...
1399819     13.4         0      0.0         19.0
1399844     11.6         0      0.0         20.0
1399868     12.6         0      0.0         20.0
1399892     11.9         0      0.0         20.0
1399917     12.1         0      0.0         21.0

[58330 rows x 4 columns]>

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

PARTIE SUR LES RETARDS DE DEPART

In [ ]:
#Departure part
X = d1[['tre200h0', 'sre000h0', 'rre150h0','Ankunftsuhr','Haltestellen Name']]
y = d1[['departure delay']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

Do a baseline classifier :

Train the "advanced" classifier :

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

In [ ]:
#PROCESSING PIPELINe